*{
    margin:0;
    padding: 0;
}
body{
    
}
nav{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav div ul{
    display: flex;
    list-style: none;
    gap:50px;
    font-size: 18px;
    font-weight: bold;
}
nav div ul li:hover{
    color:tomato;
}
nav div a{
    text-decoration: none;
    color:white;
    font-size:20px;
    font-weight: bold;
    background-color: #30B868;
    padding: 10px 20px;
    border-radius: 10px;
}
nav div a:hover{
    background:#48cc7f;
}


.banner{
    height: 480px;
    background-image:url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    padding-top: 100px;
}
.banner .container{
    width: 800px;
    text-align: center;
    margin:0 auto;
}
.banner .container .p1{
    color:green;
    background-color: whitesmoke;
    width: 200px;
    padding: 3px;
    margin:0 auto;
    border-radius: 20px;
}
.banner .container h1{
    color:white;
    font-size: 70px;
    font-weight: bold;
}
.banner .container h2{
    color:#30B868;
    font-size: 70px;
    font-weight: bold;
}
.banner .container .p2{
    color:rgb(224, 222, 222);
    font-size: 17px;
    font-weight:500;
    margin-bottom: 50px;
}
.banner .container button{
    font-size: 20px;
    font-weight: bold;
    padding: 8px 14px;
    border:none;
    border-radius: 5px;
    margin-right: 20px;
    color:rgb(247, 245, 245);
}
.banner .container .btn-Start{
    background-color: #30B868;
}
.banner .container .btn-Start:hover{
background-color:#1a7c43;
}
.banner .container .btn-SeeW{
    background: none;
    border: 1px solid;
}
.banner .container .btn-SeeW:hover{
    background-color: rgb(94, 117, 94);
}

/* common class for container box */
.container-box{
    width: 85%;
    margin: 0  auto;
}
.container-box .note-text{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.container-box .note-text h2{
    font-size: 45px;
    font-weight: bold;
}
.container-box .note-text p{
    font-size: 17px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.726);
}
.cards{
    margin: 50px 0 80px 0;
    display: flex;
    gap: 30px;
}
.cards div img{
    background-color: red;
    padding: 5px 5px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cards div h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.cards div{
    width: 260px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.288);
}
.cards div:hover{
    background: #8decb5;
}


.container-box .brain-str{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}
.container-box .brain-str div img{
    width: 500px;
}
.container-box .brain-str .knowledge-text{
    width: 400px;
}
.container-box .brain-str .knowledge-text h3{
    color:#30B868;
    margin-bottom: 10px;
}
.container-box .brain-str .knowledge-text h1{
    font-size: 40px;
}
.container-box .brain-str .knowledge-text p{
    margin-top: 20px;
    color:rgba(0, 0, 0, 0.76);
    margin-bottom: 20px;
}
.container-box .brain-str .knowledge-text ul img{
    width: 15px;
}
.container-box .brain-str .knowledge-text li{
display: flex;
align-items: center;
gap:10px; 
line-height: 30px;
font-weight: bold;
}



.container-box .all-content{
    width: 100%;
    height: 300px;
    background-color: rgb(235, 231, 231);
    border-radius: 10px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-box .think-text{
    width: 550px;
    text-align: center;
}
.container-box .think-text h1{
 font-weight: bolder;
 font-size: 40px;
}
.container-box .think-text p{
   color: rgba(0, 0, 0, 0.575);
   margin: 20px 0;
}
.container-box .think-text a{
    display: flex;
    align-items: center;
    width: 150px;
    margin:0 auto;
    gap: 5px;
    text-decoration: none;
    background-color: #30B868;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
}
.container-box .think-text a:hover{
     background-color: #04632c;
}